Repository mdazfar2/HelpOps-Hub, pull requests merged in 2024-06, with the labels that each got.

#47 filtered file
  website/app.js
Labels: gssoc, level3

#56 Added favicon to the website
  Official_Website/Assets/Favicon.png
  Official_Website/Assets/logo.png
  Official_Website/index.html
Labels: web enhance, great work

#54 filter official_website and add card decoration
  Official_Website/app.js
  Official_Website/style.css
Labels: gssoc, level3, web enhance, great work

#59 sorted file-container by date
  Official_Website/app.js
  Official_Website/style.css
Labels: gssoc, level3, web enhance, work done

#62 fixed issue-57 hover on card sizing
  Official_Website/package-lock.json
  Official_Website/style.css
Labels: gssoc, level2, web enhance

#64 added loading animation
  Official_Website/app.js
  Official_Website/index.html
  Official_Website/style.css
Labels: bug, gssoc, level3, web enhance, work done, great work

#72 Added sponsor button to website
  Official_Website/index.html
  Official_Website/style.css
Labels: gssoc, level3, web enhance, assigned, work done, great work, feature request

#75 Running a Server Container and Creating Docker Images content
  Docker Knowledge/Readme.md
Labels: documentation, gssoc, level2, assigned, WIP

#76 implement the dark mode on HelpOps-Hub
  Official_Website/dark_mode.css
  Official_Website/darkmode.js
  Official_Website/index.html
  Official_Website/style.css
Labels: enhancement, good issue, gssoc, level3, web enhance, work done, great work, feature request

#78 Update contributor-style.css
  Official_Website/contributor-style.css
Labels: enhancement, gssoc, level3, assigned, great work, WIP

#79 Update contributor-index.html
  Official_Website/contributor-index.html
Labels: gssoc, level3, web enhance, assigned

#91 Style added to Scrollbar
  Official_Website/style.css
Labels: gssoc, level2, web enhance, work done, great work

#94 added backend to contributors page
  Official_Website/contributor-index.html
  Official_Website/contributor-style.css
  Official_Website/contributor.js
Labels: gssoc, level3, web enhance, work done, great work, WIP, feature request

#105 Make over of contributor page
  Official_Website/contributor-index.html
  Official_Website/contributor-style.css
  Official_Website/contributor.js
  Official_Website/style.css
Labels: gssoc, level3, web enhance, work done, great work

#100 Add - GitLab setup guide to CI/CD section
  CI CD Pipeline Using Gitlab/README.md
Labels: gssoc, level3, work done, great work, DevOps Update

#104 Add Apache Spark Installation from scratch
  Apache Spark from Scratch/README.md
Labels: gssoc, level2, WIP

#109 Scroll to top button added
  Official_Website/app.js
  Official_Website/contributor-style.css
  Official_Website/index.html
  Official_Website/style.css
Labels: enhancement, gssoc, level2, web enhance, work done, great work

#101 Updated Docker Knowledge
  Docker Knowledge/Readme.md
Labels: gssoc, level2, we need it, DevOps Update

#118 Spell error
  Official_Website/contributor.js
Labels: gssoc, level1, web enhance, work done, great work

#119 Created About Us page
  Official_Website/Logo Png.png
  Official_Website/about.html
  Official_Website/aboutstyle.css
  Official_Website/benefit.png
  Official_Website/index.html
  Official_Website/logo.png
  Official_Website/mission.png
  Official_Website/style.css
Labels: enhancement, good issue, gssoc, level3, web enhance, assigned, work done, great work, we need it

#123 fixed api fetching issue and allined mamber name
  Official_Website/contributor.js
  Official_Website/newCards.css
Labels: enhancement, gssoc, level2, web enhance, work done, great work, feature request

#124 Added New Website Logo
  Official_Website/index.html
  Official_Website/logo.png
Labels: gssoc, level1, web enhance, work done, great work

#128 fetched contributors contrion and fix logo
  Official_Website/contributor.js
  Official_Website/logo.png
  Official_Website/newCards.css
Labels: gssoc, level1, web enhance, work done, great work

#99 Implement User-Friendly Feedback Section
  Official_Website/index.html
  Official_Website/style.css
Labels: good issue, gssoc, level3, web enhance, work done, great work, WIP

#117 CI/CD Pipeline using AWS
  CI CD Pipeline using AWS/Project.md
Labels: gssoc, level3, work done, great work, DevOps Update

#86 fixed for Mobile screen
  Official_Website/style.css
Labels: gssoc, level3, web enhance, work done, great work

#130 team intro margin updated
  Official_Website/contributor-style.css
Labels: web enhance, work done, great work

#133 fixed and makeover page as suggested!!
  Official_Website/contributor-index.html
  Official_Website/contributor-style.css
  Official_Website/contributor.js
  Official_Website/index.html
  Official_Website/newCards.css
  Official_Website/style.css
Labels: enhancement, good issue, gssoc, level3, web enhance, assigned, work done, great work, we need it

#136 Added FAQ's Page
  Official_Website/about.html
  Official_Website/aboutstyle.css
  Official_Website/faq.html
  Official_Website/index.html
Labels: gssoc, level3, web enhance, work done, great work, we need it

#145 new skelekon loading animation + hide console of api key data
  Official_Website/app.js
  Official_Website/contributor-index.html
  Official_Website/contributor.js
  Official_Website/skeleton.css
Labels: bug, gssoc, level3, web enhance, work done, great work, we need it

#143 Update CONTRIBUTING.md
  CONTRIBUTING_DESKTOP.md
Labels: invalid, wontfix, pending

#147 Eencoded the api fetch from contributor javascript page
  Official_Website/contributor.js
Labels: gssoc, level2, web enhance, work done, great work

#151 added developer badge and fixed resizing behaviour of card
  Official_Website/contributor.js
  Official_Website/newCards.css
Labels: gssoc, level2, web enhance, work done, great work

#150 Created Responsive website
  Official_Website/about.html
  Official_Website/contributor-index.html
  Official_Website/contributor-style.css
  Official_Website/dark_mode.css
  Official_Website/faq.html
  Official_Website/index.html
  Official_Website/navstyle.css
  Official_Website/style.css
Labels: enhancement, gssoc, level3, web enhance, assigned, work done, great work

#159 Minimize the team grid card to look better UI
  Official_Website/contributor-index.html
  Official_Website/contributor-style.css
Labels: web enhance, work done, great work

#160 Added official github repository link in both the pages
  Official_Website/contributor-index.html
  Official_Website/index.html
Labels: web enhance, work done, great work

#163 Added Search icon in Search bar
  Official_Website/index.html
  Official_Website/style.css
Labels: enhancement, gssoc, level2, web enhance, work done, great work, we need it

#166 Added Footer in the website
  Official_Website/index.html
  Official_Website/style.css
Labels: gssoc, level1, web enhance, work done, great work, we need it

#167 Modified feedback section to make it user-friendly
  Official_Website/feedback.png
  Official_Website/index.html
  Official_Website/style.css
Labels: gssoc, level1, web enhance, work done, great work, we need it

#168 rearrange about button and filter 1 contributor card as suggested
  Official_Website/about.html
  Official_Website/contributor-index.html
  Official_Website/contributor.js
  Official_Website/faq.html
  Official_Website/index.html
  Official_Website/navstyle.css
  Official_Website/style.css
Labels: enhancement, gssoc, level3, web enhance, work done, great work

#164 Fixed responsive of contributor section
  Official_Website/contributor-index.html
  Official_Website/contributor-style.css
  Official_Website/style.css
Labels: enhancement, WIP, let you know

#180 feedback submit issue fix
  Official_Website/app.js
  Official_Website/contributor.js
  Official_Website/index.html
Labels: enhancement, gssoc, level2, web enhance, work done, great work

#191 Ansible Playbook for Configuring HTTPD inside Docker
  Ansible Httpd Docker/ansible.cfg
  Ansible Httpd Docker/docker_playbook.yml
  Ansible Httpd Docker/index.html
  Ansible Httpd Docker/inventory
  Ansible Httpd Docker/readme.md
Labels: Project, great work, we need it

#196 Fixed Console Errors and scrollToTop
  Official_Website/about.html
  Official_Website/app.js
  Official_Website/contributor-index.html
  Official_Website/faq.html
  Official_Website/index.html
  Official_Website/scrollToTop.png
  Official_Website/style.css
Labels: pending

#197 added logo with link and hover effect
  Official_Website/about.html
  Official_Website/contributor-index.html
  Official_Website/faq.html
  Official_Website/index.html
  Official_Website/style.css
Labels: enhancement, gssoc, level2, web enhance, work done

#213 Update README.md About Our Project
  README.md
Labels: documentation, work done

#214 mplemented pagination on contributor page and fix founder card
  Official_Website/contributor-index.html
  Official_Website/contributor-style.css
  Official_Website/contributor.js
Labels: enhancement, gssoc, level3, web enhance, work done, great work, feature request, we need it

#178 Feedback image
  Official_Website/feedback.png
  Official_Website/style.css
Labels: gssoc, level1, work done, great work

#216 apply dark moode in feedback form
  Official_Website/darkmode.js
  Official_Website/index.html
  Official_Website/style.css
Labels: enhancement, gssoc, level2, web enhance, assigned, work done, great work

#221 fix (Official_Website/style.css): Search box made responsive
  Official_Website/style.css
Labels: gssoc, level1, web enhance, assigned, work done, great work

#227 scroll to top size fixed
  Official_Website/about.html
  Official_Website/style.css
Labels: gssoc, level1, web enhance, work done, great work

#228 Enhanced FAQ's page
  Official_Website/faq.html
  Official_Website/style.css
Labels: gssoc, level1, web enhance, work done, great work

#232 Resolve the link bug
  Official_Website/app.js
Labels: good issue, gssoc, level1, web enhance, work done, great work

#236 added banner to footer of contributors page
  Official_Website/banner.css
  Official_Website/contributor-index.html
  Official_Website/contributor-style.css
Labels: gssoc, level1, web enhance, work done, we need it

#241 [Bug]: Card Alignment and Overflow
  Official_Website/contributor-style.css
Labels: bug, invalid, let you know, isn't me

#235 Backend added for feedback form and styles fixed
  Official_Website/.example.env
  Official_Website/.gitignore
  Official_Website/index.html
  Official_Website/index.js
  Official_Website/models/feedback.js
  Official_Website/package-lock.json
  Official_Website/package.json
Labels: gssoc, level3, web enhance, work done, great work, we need it

#259 Feedback form
  Official_Website/index.html
Labels: gssoc, level3, assigned, work done, great work, WIP, we need it

#265 aligment of banner at bottom is not correct and redesign of team button
  Official_Website/banner copy.css
  Official_Website/banner.css
  Official_Website/contributor-index.html
  Official_Website/index.html
  Official_Website/navstyle.css
Labels: gssoc, level2, web enhance, work done, great work, we need it

#270 Changed position of form and image
  Official_Website/style.css
Labels: enhancement, gssoc, level2, web enhance, great work, feature request, we need it

#262 changed footer
  Official_Website/index.html
  Official_Website/style.css
Labels: bug, good issue, gssoc, level1, web enhance, assigned, great work

#278 Makeover of homepage !!
  Official_Website/app.js
  Official_Website/contributor-index.html
  Update_website/New_web/index.html
  Update_website/New_web/logo.png
  Update_website/New_web/script.js
  Update_website/New_web/styles.css
Labels: gssoc, level3, web enhance, assigned, work done, we need it, need change

#281 Feedback form
  Official_Website/index.html
Labels: enhancement, good issue, gssoc, level3, web enhance, assigned, work done, great work, we need it

#302 Update social linkes
  Update_website/contributor.html
Labels: gssoc, web enhance, work done, isn't me

#306 Fixed Alignment in Feedback form
  Official_Website/style.css
Labels: gssoc, level1, web enhance, work done, great work

#289 About Style fix and Video Added
  Official_Website/about.html
  Official_Website/aboutstyle.css
Labels: gssoc, level3, web enhance, work done, great work

#304 Removed dublicate fetching in api
  Update_website/contributor.js
Labels: gssoc, web enhance, assigned, work done, great work, we need it

#327 Front page responsive
  website2.0/index.html
  website2.0/styles.css
Labels: gssoc, level3, web enhance, assigned, work done, great work, responsive

#345 Fix Hover With Same background color
  website2.0/contributor.css
Labels: gssoc, level2, web enhance, work done, great work

#379 Fixed : Created footer in resources section
  website2.0/resources.css
  website2.0/resources.html
  website2.0/styles.css
Labels: wontfix, pending, isn't me, need change

#396 Docker inside docker
  Docker inside Docker/Readme.md
  Setting up Ci/CD pipeline using jenkins/README.md
Labels: gssoc, level3, work done, great work, DevOps Update

#356 setup ci/cd pipeline using jenkins
  Setting up Ci/CD pipeline using jenkins/README.md
Labels: let you know, pending

#392 Added Rating Validation in Contact Us form
  website2.0/contactus.css
  website2.0/contactus.html
  website2.0/contactus.js
Labels: gssoc, level1, work done, great work

#399 Fixed Height and Width of boxes in mobile view #394
  website2.0/resources.css
  website2.0/resources.html
Labels: gssoc, level1, work done, great work, responsive

#406 Terraform intro cheatsheet
  Ansible commands,playbook cheatsheet/Readme.md
  Ansible_control_target node setup/Readme.md
  Launch webapp with Docker over Ec2 instance/Readme.md
  Terraform_intro_cheatsheet/Readme.md
Labels: documentation, gssoc, level3, work done, DevOps Update

#408 fixed menu icon not appearing in contact and team page and hence making it responsive
  website2.0/contactus.html
  website2.0/contributor.css
  website2.0/contributor.html
Labels: WIP, pending, isn't me, need change

#415 Bug: Fixed Navbar Duplication on All Pages
  website2.0/abouts.css
  website2.0/abouts.html
  website2.0/contributor.css
  website2.0/index.html
  website2.0/styles.css
Labels: let you know, pending, need change

#416 Setting up control node ,target node in ansible
  Ansible_control_target node setup/Readme.md
Labels: documentation, gssoc, level2

#417 Hosting and launching webapp with docker over ec2 instance
  Launch webapp with docker over ec2 instance/Readme.md
Labels: documentation, gssoc, level2, DevOps Update

#418 Ansible ,commands ,playbook ,cheatsheet updated
  Ansible commands,playbook cheatsheet/Readme.md
Labels: documentation, gssoc, level2, DevOps Update

#405 feat: loader added
  website2.0/abouts.css
  website2.0/abouts.html
  website2.0/contactus.css
  website2.0/contactus.html
  website2.0/contributor.css
  website2.0/contributor.html
  website2.0/index.html
  website2.0/styles.css
Labels: WIP, pending, need change

#423 feat: navbar hovering effect added
  website2.0/abouts.css
  website2.0/abouts.html
  website2.0/contributor.css
  website2.0/nav.css
  website2.0/styles.css
Labels: gssoc, level2, web enhance, work done, great work

#432 Added dark mode to resourse page
  website2.0/resources.css
  website2.0/resources.html
Labels: gssoc, level1

#443 Added hovering effect for footer-icons
  website2.0/contributor.css
  website2.0/dark_mode.css
  website2.0/styles.css
Labels: pending, isn't me, need change

#369 Update README.md and CONTRIBUTING guidelines
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/project.yml
  CONTRIBUTING.md
  README.md
Labels: enhancement, assigned, work done, pending, we need it

#451 Added hovering effect for Top contributors
  website2.0/rank.css
  website2.0/rank.js
Labels: gssoc, level1

#455 Fixed colors of card in resources page
  website2.0/resources.css
Labels: gssoc, level1, web enhance, work done, we need it

#460 Added search feature with dark mode enable
  website2.0/dark_mode.css
  website2.0/rank.css
  website2.0/resources.css
  website2.0/resources.html
Labels: gssoc, level2, web enhance, work done, great work

#463 Fixed API Fetching for contributors profiles
  website2.0/contributor.js
Labels: gssoc, level3, work done, great work

#461 Header Enhancement
  website2.0/nav.css
  website2.0/styles.css
Labels: gssoc, level1, great work

#462 UI of AboutUs page
  website2.0/abouts.css
  website2.0/abouts.html
Labels: gssoc, level1, web enhance, work done

#480 Added transitions on hover to buttons
  website2.0/dark_mode.css
  website2.0/index.html
  website2.0/styles.css
Labels: gssoc, level1, web enhance, work done, great work

#483 Fixed list of menu items is not visible in dark mode and added hover of menu items in both mode when size of screen is reduced .
  website2.0/contributor.css
  website2.0/index.html
  website2.0/styles.css
Labels: level2, web enhance, assigned, work done

#497 Added all the component on landing page
  website2.0/b1.png
  website2.0/b2.png
  website2.0/b3.png
  website2.0/b4.png
  website2.0/b5.png
  website2.0/b6.png
  website2.0/cover.png
  website2.0/i1.png
  website2.0/i2.png
  website2.0/i3.png
  website2.0/i4.png
  website2.0/img2.jpeg
  website2.0/index.html
Labels: gssoc, level3, web enhance, work done, great work, we need it

#509 Text justification
  website2.0/index.html
Labels: gssoc, web enhance, we need it

#514 Feat: Added Contact Us Page and Portion of Teams
  Benjamin/pages/ContactPage.js
  Benjamin/pages/TeamsPage.js
  Benjamin/public/founder.png
  Benjamin/public/maintainer.png
  Benjamin/public/maintainer2.jpeg
  Benjamin/public/maintainer3.jpeg
  Benjamin/public/rateus.png
  Benjamin/src/app/abouts/page.js
  Benjamin/src/app/contact/page.js
  Benjamin/src/app/team/page.js
  Benjamin/stylesheets/contact.css
  Benjamin/stylesheets/darkmode.css
  Benjamin/stylesheets/teams.css
Labels: gssoc, level3, web enhance, work done, great work, we need it, code convert

#516 Mayaworld13 patch 4
  apache-reverse-proxy/proxy.sh
  apache-reverse-proxy/readme.md
Labels: documentation, great work, DevOps Update

#518 Added Color as before
  website2.0/styles.css
Labels: gssoc, level2

#522 fix text not visible in dark mode
  website2.0/dark_mode.css
Labels: gssoc, level1

#523 Added Scroll Button
  website2.0/contactus.css
  website2.0/contactus.html
  website2.0/index.html
  website2.0/styles.css
Labels: gssoc, level2, web enhance, work done

#531 Enhanced the theme
  website2.0/index.html
  website2.0/styles.css
Labels: gssoc, level2, web enhance, great work

#535 fix hovering effect on get started button on home page
  website2.0/index.html
  website2.0/styles.css
Labels: great work, let you know, waiting-approval

#541 feat: animation added
  website2.0/dev1.jpg
  website2.0/dev2.jpg
  website2.0/dev3.jpg
  website2.0/index.html
Labels: gssoc, level3, work done, great work

#553 feat: Splide added in devops arsenal
  website2.0/index.html
Labels: gssoc, level2, web enhance, great work, we need it

#564 Feat: Added Top 3 Contributor Cards-Fixed Styling and Added Resources Page
  Benjamin/components/CardSkeleton.js
  Benjamin/pages/HomePage.js
  Benjamin/pages/ResourcesPage.js
  Benjamin/pages/TeamsPage.js
  Benjamin/src/app/resources/page.js
  Benjamin/stylesheets/homepage.css
  Benjamin/stylesheets/resources.css
  Benjamin/stylesheets/teams.css
Labels: gssoc, level3, web enhance, work done, great work

#563 properly apply dark mode in resources page
  website2.0/resource-details.css
Labels: let you know, pending, isn't me, waiting-approval

#565 Added Menu bar
  website2.0/abouts.html
  website2.0/contactus.html
  website2.0/contributor.html
  website2.0/index.html
  website2.0/styles.css
Labels: WIP, we need it

#574 Fix/spacing in home page and link resources page with the about and contact us page
  website2.0/index.html
  website2.0/resource-details.html
  website2.0/styles.css
Labels: gssoc, level2, web enhance, great work

#579 Feat:Want to change color theme in dark mode #551
  Benjamin/stylesheets/loader.css
  Benjamin/stylesheets/teams.css
  website2.0/contactus.html
  website2.0/contributor.css
  website2.0/contributor.html
  website2.0/index.html
  website2.0/newCards.css
  website2.0/skeleton.css
  website2.0/styles.css
Labels: WIP, pending

#581 Fixed link to open source community
  website2.0/abouts.css
  website2.0/abouts.html
  website2.0/contactus.css
  website2.0/contactus.html
  website2.0/contributor.html
  website2.0/index.html
  website2.0/resources.css
  website2.0/resources.html
Labels: WIP, pending

#594 Feat/hover effect cards on the section we are creative .
  website2.0/index.html
Labels: WIP, pending, need change, waiting-approval

#590 added Toastify message
  website2.0/contactus.html
  website2.0/contactus.js
  website2.0/contributor.html
Labels: work done, pending, isn't me, need change, waiting-approval

#617 Feat: Navbar styling fixed
  website3.0/stylesheets/header.css
Labels: gssoc, level1, web enhance, work done, great work, VSoC'24, BONUS

#630 Feat: animation added devops insight part
  website3.0/components/Scrolltab.js
  website3.0/package-lock.json
  website3.0/package.json
  website3.0/pages/HomePage.js
  website3.0/stylesheets/homepage.css
  website3.0/utils/cn.js
Labels: gssoc, level2, assigned, great work, VSoC'24, HARD

#631 Feature to Redirect users to Contribution History Page-Added Hover Effect
  website3.0/components/Footer.js
  website3.0/pages/TeamsPage.js
  website3.0/stylesheets/footer.css
  website3.0/stylesheets/teams.css
Labels: WIP, pending, need change

#635 Fixed navbar appear effect
  website3.0/components/Header.js
  website3.0/stylesheets/abouts.css
  website3.0/stylesheets/contact.css
  website3.0/stylesheets/header.css
  website3.0/stylesheets/homepage.css
  website3.0/stylesheets/teams.css
Labels: WIP, conflict, need change

#655 Added responsiveness to Team page
  package-lock.json
  package.json
  website3.0/stylesheets/footer.css
  website3.0/stylesheets/header.css
  website3.0/stylesheets/teams.css
Labels: invalid, WIP, pending, need change

#666 Fixed resources header and added Sort & Filter
  website3.0/pages/ResourcesDetailsPage.js
  website3.0/pages/ResourcesPage.js
  website3.0/stylesheets/resources.css
  website3.0/stylesheets/resourcesdetails.css
Labels: gssoc, level3, web enhance, work done, great work, we need it

#668 add hovering effect on menu bar items when screen size is reduced .
  website3.0/stylesheets/header.css
Labels: gssoc, level1

#680 added login/signup components UI
  website3.0/components/AuthButton.js
  website3.0/components/Header.js
  website3.0/components/Login-Signup.js
  website3.0/package-lock.json
  website3.0/public/github.png
  website3.0/public/google.png
  website3.0/stylesheets/header.css
  website3.0/stylesheets/login-signup.css
Labels: WIP, pending, isn't me

#673 Fixed hover effect on resource details page and route name
  website3.0/components/Header.js
  website3.0/src/app/about/page.js
  website3.0/stylesheets/header.css
Labels: WIP, pending, isn't me

#700 Bug: Fixed Teams Page Responsiveness
  website3.0/pages/TeamsPage.js
  website3.0/stylesheets/homepage.css
  website3.0/stylesheets/teams.css
Labels: gssoc, level2, web enhance, great work, responsive

#712 Bug: Fixed Navbar's Responsiveness and Hamburger Bug
  website3.0/components/Header.js
  website3.0/components/Loadernewletter.jsx
  website3.0/stylesheets/darkmode.css
  website3.0/stylesheets/header.css
Labels: gssoc, level2, web enhance, work done, responsive

#725 Added proper popup message in newsletter
  website3.0/package-lock.json
  website3.0/pages/HomePage.js
  website3.0/src/app/api/subscribe/route.js
Labels: let you know, pending

#731 Newsletter template enchaned (v2.0)
  website3.0/pages/HomePage.js
  website3.0/src/app/api/subscribe/route.js
Labels: gssoc, level2, great work, we need it

#743 Get start button style added on hover
  website3.0/stylesheets/homepage.css
Labels: gssoc, level1

#742 Created functional Google signup with full backend Connectivity
  package.json
  website3.0/.env.example
  website3.0/components/AuthButton.js
  website3.0/components/Login-Signup.js
  website3.0/components/auth/Authprovider.js
  website3.0/package.json
  website3.0/src/app/api/auth/[...nextauth]/route.js
  website3.0/src/app/layout.js
Labels: WIP, pending, isn't me, waiting-approval

#744 Added Popup Message and Effects on Button in Contact Form
  website3.0/package-lock.json
  website3.0/pages/ContactPage.js
  website3.0/pages/HomePage.js
  website3.0/stylesheets/contact.css
Labels: gssoc, level2, web enhance, work done, great work

#747 Added key event for Contact, Newsletter, OTP and Profile
  website3.0/.gitignore
  website3.0/pages/ContactPage.js
  website3.0/pages/HomePage.js
  website3.0/pages/OTP.js
  website3.0/pages/Profile.js
Labels: gssoc, level2, web enhance, work done, great work

#753 Added Loader where ever needed , added otp details to env file ,and Changed the otp message
  website3.0/components/Login-Signup.js
  website3.0/package.json
  website3.0/src/app/api/auth/[...nextauth].js
  website3.0/src/app/api/auth/[...nextauth]/route.js
  website3.0/src/app/api/signup/route.js
  website3.0/src/app/layout.js
  website3.0/src/app/provider.js
  website3.0/stylesheets/login-signup.css
Labels: gssoc, level2, web enhance, work done, great work, we need it

#754 Fixed Google Login Error
  website3.0/components/AuthButton.js
  website3.0/src/app/api/signup/route.js
Labels: gssoc, level3, work done, great work, backend, Authentication

#757 Added Hover effect effect on buttons
  website3.0/components/Login-Signup.js
  website3.0/pages/Profile.js
  website3.0/src/app/api/createaccount/route.js
  website3.0/src/app/api/signup/route.js
  website3.0/stylesheets/homepage.css
  website3.0/stylesheets/login-signup.css
  website3.0/stylesheets/profile.css
Labels: gssoc, level1

#759 Feat: Addition of Blog Page Template
  website3.0/package-lock.json
  website3.0/pages/BlogPage.js
  website3.0/public/Arrow.png
  website3.0/public/Blog_Sample_1.png
  website3.0/public/Blog_Sample_2.png
  website3.0/public/Blog_Sample_3.png
  website3.0/public/Blog_Sample_4.png
  website3.0/public/mail_icon.png
  website3.0/src/app/blogs/page.js
  website3.0/stylesheets/blogspage.css
Labels: gssoc, level3, work done, great work
